DATABASE_URL="postgresql://your_username:your_password@host:port/your_database"
EXPRESS_PORT=your_express_port

JWT_SECRET=your_JWT_secret
JWT_EXP_TIME=expiration_time

#CLOUDINARY
CLOUDINARY_URL=cloudinary://your_cloudinary_secret_key:your_cloudinary_secret_key@your_cloudinary_cloud_name
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_API_key
CLOUDINARY_API_SECRET=your_cloudinary_secret_key